<a href="https://colab.research.google.com/github/DudeGFA/Hamoye-Data-Science-internship/blob/main/Stage%20A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [ ]:
import pandas as pd
df = pd.DataFrame(lst, columns = col, index = [i for i in range(1, 4)])

In [ ]:
df.shape

(3, 3)

In [ ]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
z = y[1][-2]
x

8

In [ ]:
z

7

In [ ]:
df.loc()

In [ ]:
df.iloc()

In [ ]:
df.iloc[:]

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
df.loc(:)

SyntaxError: invalid syntax (1019954210.py, line 1)

In [ ]:
csv_pdf = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [ ]:
csv_pdf.to_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', index = False)

In [ ]:
csv_pdf.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [ ]:
csv_pdf['Y2016'].isnull().sum()

1535

In [ ]:
csv_pdf.groupby('Element').corr().mean()

Area Code       0.147950
Item Code       0.217106
Element Code         NaN
Y2014           0.688104
Y2015           0.681985
Y2016           0.696746
Y2017           0.695670
Y2018           0.692134
dtype: float64

In [ ]:
csv_pdf.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [ ]:
csv_pdf.groupby('Area')['Element']['Y2018'].sum()

IndexError: Column(s) Element already selected